* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 125px;
  width: auto;
  border-radius: 50%;
}

#head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
