* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(245, 245, 245);
}

img {
  height: 200px;
  width: auto;
  border-radius: 50%;
}

#header {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#bio {
  padding: 10px 30px 10px 30px;
  border: solid 3px rgb(237, 233, 233);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

h1 {
  padding: 15px 0 0 25px;
}

h2 {
  background-color: rgb(212, 209, 209);
  padding: 15px 0 15px 25px;
  border-radius: 5px;
}

div {
  font-size: 26px;
  font-weight: bold;
  padding: 0 0 10px 0;
}

p {
  font-size: 24px;
  font-weight: lighter;
}

ul {
  list-style: inside url("book-solid.svg");
}

li {
  padding: 10px 30px 10px 30px;
  border: solid 3px rgb(237, 233, 233);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

a,
a:visited {
  color: blue;
}
